<style>
    body {
        background-color: lightblue;
    } 
    td {
        padding-top: 10px;
        padding-left: 5px;
    }
    img {
        padding-left: 20px;
    }
</style>

<h2>LCD CigarBox Messenger</h2>
<script>
    function submit () 
    {
        let txt = document.querySelector("#mytext").textContent;
        Navigator.document.submit();
    }

    function UpdateImage()
    {
        var d=new Date();
        document.getElementById("WebCamImage").src = "./test_picture.bmp?a="+d.getTime();        
        //setTimeout(UpdateImage, 2000);
        return;
    }
</script>

<p>
    Hello! From here you can enter a 4 line message to display on the LCD Cigar box in Herrick's Office. (113/3306)
</p>
<p> Your message is received on this NodeJS site, then the message is sent via serial port over a USB Wixel transmitter to the box on the shelf.</p>
<p> The cigar box is running an Arduino Uno with an identical Wixel transmitter inside to receive the message.</p>
<table padding=2>
<tr>
    <td>
        <form method="post" action="/post">
        <input id="mytext0" name="mytext0" type="text" maxlength="20"/></br>
        <input id="mytext1" name="mytext1" type="text" maxlength="20"/></br>
        <input id="mytext2" name="mytext2" type="text" maxlength="20"/></br>
        <input id="mytext3" name="mytext3" type="text" maxlength="20"/></br>
        <input type="submit" value="send"/>
        </form>
        After sending your message, go check it out!</br>
        {{Answer}}</br></br>
        {{Line0}}</br>
        {{Line1}}</br>
        {{Line2}}</br>
        {{Line3}}</br>    
    </td>
    <td>
        Image updates every 2sec automatically... and messages take about 10sec to get to box..</br>
        ie: just wait.</br>
        <img id="WebCamImage" src="./test_picture.bmp"  onload="setTimeout(UpdateImage, 2000)"/>
    </td>
</tr>
<tr>
    <td style="align-content: center">
        Previous messages:<br/>
        <iframe src="./messages.txt" height=700/>
    </td>
</tr>
</table>